@define-color foreground rgba(251, 241, 199, 1);
@define-color background rgba(40, 40, 40, 0.01);
@define-color background-alpha rgba(40, 40, 40, 0.01);
@define-color accent rgba(212, 190, 152, 1);
@define-color current-line rgba(40, 40, 40, 0.01);
@define-color comment rgba(234, 105, 98, 1);

* {
    color: @foreground;
    /*
    all: unset;
        */
    transition: 200ms;
    font-family: "JetBrains Mono Nerd Font 10";
}

.notification-row {
    outline: none;
    margin: 0 auto;
    padding: 0px;
    box-shadow: none;
    border-radius: 5px;
}

.notification {
    background: @background-alpha;
    transition: all 200ms ease;
    border: 1px solid @foreground;
    box-shadow: none;
    border-radius: 5px;
    padding: 0;
}

.notification-default-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: transparent;
  border: none;
  border-radius: 12px;
}

.notification-default-action:hover {
    -gtk-icon-filter: none;
    background: @background-alpha;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.low {
    border: 1px solid #a9b665;
}

.normal {
    border: 1px solid #d8a657;
}

.critical {
    border: 1px solid #ea6962;
}

.notification-content {
    box-shadow: none;
    background: transparent;
    padding: 6px;
    border-radius: 5px;
}

.image {
  -gtk-icon-filter: none;
  border-radius: 20px;
  margin: 4px;
}

.app-icon {
  -gtk-icon-filter: none;
  -gtk-icon-shadow: 0 1px 4px black;
  margin: 3px;
}

.text-box label {
  filter: none;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @foreground;
  text-shadow: none;
}

.time {
  /* Notification time-ago */
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @foreground;
  text-shadow: none;
  margin-right: 30px;
}

.body {
  /* Notification body */
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: @foreground;
  text-shadow: none;
}

.close-button {
    background: @current-line;
    color: @foreground;
    text-shadow: none;
    padding: 1;
    border-radius: 100%;
    margin-top: 5px;
    margin-right: 5px;
    box-shadow: none;
    border: none;
    min-width: 16px;
    min-height: 16px;
}


.close-button:hover {
    box-shadow: none;
    background: @comment;
    transition: all 0.15s ease-in-out;
    border: none;
}

.notification-action:first-child {
    border-bottom-left-radius: 5px;
}

.notification-action:last-child {
    border-bottom-right-radius: 5px;
}

.image {
}

.body-image {
    margin-top: 6px;
    background-color: @foreground;
    border-radius: 5px;
}

.summary {
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color: @foreground;
    text-shadow: none;
}

.time {
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color: @foreground;
    text-shadow: none;
    margin-right: 18px;
}

.body {
    font-size: 15px;
    font-weight: normal;
    background: transparent;
    color: @foreground;
    text-shadow: none;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
    color: @foreground;
    text-shadow: none;
}

.control-center-clear-all {
    color: @foreground;
    text-shadow: none;
    background: @background;
    border: 2px solid @accent;
    box-shadow: none;
    border-radius: 8px;
}

.control-center-clear-all:hover {
    background: @background;
}

.control-center-dnd {
    border-radius: 5px;
    background: @background;
    border: none;
    box-shadow: none;
    color: @foreground;
}

.control-center-dnd:checked {
    background: @accent;
}

.control-center-dnd:slider {
    background: @background;
    border-radius: 5px;
}

.control-center {
    background: @background-alpha;
    border-radius: 5px;
    background-clip: border-box;
    padding: 4px;
    color: @foreground;
    border: 2px solid @accent;
}

.control-center-list {
    box-shadow: none;
    background: transparent;
}

.floating-notifications {
    background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
    background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
    margin: 0px auto;
    font-size: 1.5rem;
}
.widget-title > button {
    font-size: initial;
    color: @foreground;
    text-shadow: none;
    background: @background;
    border: 1px solid @accent;
    box-shadow: none;
    border-radius: 5px;
}
.widget-title > button:hover {
    background: @background;
}

/* DND widget */
.widget-dnd {
    color: @accent;
    margin: 8px;
    font-size: 1.1rem;
}
.widget-dnd > switch {
    font-size: initial;
    border-radius: 5px;
    background: @background;
    border: 1px solid @accent;
    box-shadow: none;
}
.widget-dnd > switch:checked {
    background: @accent;
}
.widget-dnd > switch slider {
    background: @background;
    border-radius: 5px;
    border: 1px solid @foreground;
}

/* Label widget */
.widget-label {
    margin: 8px;
}
.widget-label > label {
    font-size: 1.1rem;
}

/* Mpris widget */
:root {
    --mpris-album-art-overlay: rgba(0, 0, 0, 0.5);
    --mpris-button-hover: rgba(0, 0, 0, 0.25);
}

.widget-mpris {
}

.widget-mpris-player {
    margin: 2px;
    border-radius: 5px;
    border: 2px solid @accent;
    color: @foreground;
}

.mpris-background {
    filter: blur(5px);
}

.mpris-overlay {
    padding: 10px;
    background-color: var(--mpris-album-art-overlay);
}

.mpris-overlay button:hover {
    background: rgba(212, 190, 152, 0.3);
}

.widget-mpris-title {
    font-weight: bold;
    font-size: 1.0rem;
}

.widget-mpris-subtitle {
    font-size: 0.85rem;
}

.mpris-overlay > box > button {
    padding: 4px;
}

.mpris-overlay > box > button:hover {
  background-color: rgba(212, 190, 152, 0.3);
  box-shadow: none;
}


.widget-mpris-album-art {
    border-radius: 5px;
    border: 2px solid @accent;
    box-shadow: none;
    border-radius: 5px;
}

/* GRID widget */
.widget-buttons-grid {
    padding: auto;
    margin: auto;
}

.widget-buttons-grid flowboxchild > button {
    padding: auto;
    margin: auto;
    border-radius: 5px;
    border: 1px solid;
    color: @foreground;
}

